/**---------------------------HEADER----------------------------*/


header {
    nav {
        div {
            a {
                padding-inline: 20px !important;
                color: $color-principal !important;
                }

                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }


.menu {
    background-color: black !important;
}

.letras-nav {
    font-size: 25px;
}

.back-drop {
    background-color: rgba(26, 26, 26, 0.932);
}