/**------FUENTE-----*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/**-----RESEAT-----*/

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Oswald", sans-serif;}

    

    $color-principal: red;
    
    %flex{
        display: flex;
        flex-direction: column;}