/**------FUENTE-----*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/**-----RESEAT-----*/

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Oswald", sans-serif;
    background-color: black;}

    //!VARIABLE
    $colores: red, white, black;

    //!LISTA
    $color-principal: red;

    //!EXTEND
    %flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;}


    //!MIXIN
    @mixin text ($decoration, $align, $font){
        text-decoration: $decoration;
        text-align: $align;
        font-size: $font;
    }