/**--------------MEDIA QUERIES-------------------*/

@media screen and (max-width:831px) {
    /**--------------MAIN---------------------*/

    .hero {
        background: none;
        height: 200px;

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 45px;
        }
    }

    .grid-container-oc {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px;

        h2 {
            font-size: 30px;
            padding: 5px;
        }

        p {
            font-size: 20px;
        }

        a {
            font-size: 30px;
            padding: 2.5px;
        }
    }

    .contenido-destacado {
        p {
            font-size: 20px;
        }

        img {
            width: 200px;
            height: 250px;
        }

        h2 {
            text-align: center;
            color: white;
            background-color: red;
            font-size: 30px;
            padding: 5px;
            margin-bottom: 60px;
        }
    }

    .destacado-tarjetas {
        div {
            margin-bottom: 50px;
        }
    }

    .comprar {
        font-size: 20px;
        margin-inline: 15px;
        margin-top: 15px;
    }

    .añadir-carrito {
        font-size: 15px;
        margin-inline: 25px;
        margin-bottom: 15px;
    }

    /**-----------------------FOOTER----------------------*/

    footer {
        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 20px;
        }

        img {
            height: 30px;
            width: 30px;
            margin-inline: 15px;
        }
    }

    .grid-container-footer {
        grid-template-rows: 25px 30px;
    }
}

@media screen and(max-width:741px){
    .talles-tp{
        p{
            margin: 5%;
        }
    }
    .contenido-destacado{
        img{
            height: 300px;
            width: 250px;
        }
    }
}

@media screen and (max-width:601px) {

    .grid-container-oc {
        display: flex;
        flex-direction: column;

        h2 {
            background-color: red;
            font-size: auto;
            padding: 2.5;
        }

        p {
            font-size: auto;
            margin: 30px;
        }
    }

    .contenido-destacado {
        h2 {
            font-size: auto;
            background-color: red;
        }

    }

    .destacado-tarjetas {
        img {
            height: 300px;
            width: 250px;
        }

    }

    .comprar {
        margin-top: 2px;
        margin-inline: 4px;
    }

    .añadir-carrito {
        margin-bottom: 2px;
        margin-inline: 6px;
    }

}

@media screen and (max-width:451px) {

    /**---------------MAIN--------------*/
    .hero {
        height: 150px;
        border: 2px solid $color-principal;
        

        h1 {
            font-size: 25px;
        }

        p {
            font-size: 35px;
        }
    }

    .grid-container-oc {
        h2 {
            font-size: auto;
        }
    }

    .contenido-destacado {
        h2 {
            font-size: auto;
            margin-inline: 10px;
        }
        img {
            height: 250px;
            width: 250px;
        }
    }

    .destacado-tarjetas {
        display: flex;
        flex-wrap: wrap;
        div{
            border: 4px red solid;
        }
        p{
        font-size: 20px;
        }
    }

    


    /**------------MAIN-CONTACTO------------*/

    h1 {
        margin-bottom: 40px;
    }

    .div-contacto-iconos {
        margin-bottom: 30px;

        a {
            border: 2px solid $color-principal;
            padding: 5px;
            margin: 15px;

            &:hover {
                background-color: $color-principal;
                color: black;
            }
        }
    }

    .bi-instagram {
        height: 100px;
        width: 100px;
        ;
    }

    .bi-twitter-x {
        height: 100px;
        width: 100px;
    }

    .bi-tiktok {
        height: 100px;
        width: 100px;
    }

    .contacto-pages {
        text-align: center;
        font-size: 30px;
        margin: 20px;
    }

    .bi-geo-alt {
        height: 100px;
        width: 100px;
        ;
    }

    .bi-envelope {
        height: 100px;
        width: 100px;
    }

    .bi-whatsapp {
        height: 100px;
        width: 100px;
    }

    /**----------------FOOTER----------------*/

    footer {
        img {
            height: 25px;
            width: 25px;
            margin-inline: 5px;
        }

        h2 {
            font-size: 15px;
        }

        h3 {
            font-size: 15px;
        }

        ul {
            justify-content: space-around;
        }
    }

    /**------------------------FOOTER-CONTACTO----------------*/

    .footer-contacto {
        height: 40px;
        font-size: 20px;
    }
}

@media screen and (max-width:281px) {


    /**--------------MAIN---------------*/



    .hero {
        height: 80px;
        border: none;
        h1{
            font-size: 15px;
        }
        p{
            font-size: 25px;
        }
    }
        /**-----------FOOTER--------------*/


        footer{
            img{
                height: 15px;
                width: 15px;
            }
            h2{
                font-size: 10px;
            }
            h3{
                font-size: 10px;
            }
        }
        .grid-container-footer{
            grid-template-rows: 10px 20px;
        }
}